# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
dist

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.dev
.env.stg
.env.prod
uploads


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/
dist

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

server/test/
server/API_ENDPOINTS_SUMMARY.md
server/API_ENDPOINTS.md
server/AUTH_DOCUMENTATION.md
server/CITIZEN_MANAGEMENT_DOCUMENTATION.md
server/DOCUMENT_UPLOAD_API.md
server/ENTITIES_DOCUMENTATION.md
server/src/database/migrations/
